@import '~antd/dist/antd.css';

body {
  background: linear-gradient(to right, rgba(253,33,33,1) 0%, rgba(255,181,60,1) 100%);
  /*background: linear-gradient(132deg, rgba(253,33,33,1) 0%, rgba(255,181,60,1) 100%);*/
  /*height: 100vh;*/
}

.App {
  text-align: center;
  margin: 25px;
}

.App h1 {
  /*color: #c80e13;*/
  color: whitesmoke;
  font-size: 55px;
  text-shadow: #2f0000 4px 2px 6px;
}

.loading {
  text-align: center;
  color: #80ced6;
}

.loading h2 {
  color: #80ced6;
}

.search-bar {
  padding: 5px;
  width: 40vw;
  border: silver 1px solid;
  border-radius: 2px;
}

.search-button {
  padding: 6px;
  /*border: 1px solid;*/
  border-style: none;
  background-color:#2f0000;
  color: white;
  width: 20vw;
  cursor: pointer;
}

@media screen and (min-width: 450px) {
  
}

.search-button:hover {
  background-color: #570000;
}

.search-button:active {
  background-color: cadetblue;
}

.recipe-image {
  width: 150px;
  height: auto;
}

.list {
  text-align: left;
  font-family: "Kalam";
  font-size: medium;
}

.recipes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.recipe-box {
  max-width: 350px;
  min-height: 475px;
  gap: 20px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  margin: 25px;
}

.recipe-box:hover {
  box-shadow: #2f0000 2px 2px 10px;
}

.save-recipe-btn {
  cursor: pointer;
  border: cadetblue solid 2px;
  color: cadetblue;
  font-size: 16px;
  padding: 10px;
  font-weight: 700;
  transition: all 0.25s ease;
  background-color: transparent;
}
.save-recipe-btn:hover {
  background-color: cadetblue;
  color: whitesmoke;
  /*border:  whitesmoke solid 2px;*/
}

.fa-star {
  cursor: pointer;
  color: orange;
}



@media (prefers-reduced-motion: no-preference) {
  .fa-spinner {
    animation: Load-spin infinite 2s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes Load-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
